.media {
    padding: 80px 0 130px 0;

    background: linear-gradient(262.53deg, #eaeaea 18.27%, #f9f8f8 52.13%, #f9f8f8 85.98%);

    &__titile {
        margin-bottom: 85px;
    }

    &__image {
        margin: 0 auto;
    }
}
